@import "stylesheets/variables";

.sidebar {
  flex-shrink: 0;
  margin: 0 0.5rem;

  @media ($sm-viewport) {
    margin: 0;
  }

  & h2 {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    font-weight: 800;
    letter-spacing: 1.25px;
    line-height: 21px;

    @media ($sm-viewport) {
      font-size: 1.2rem;
    }
  }
}